body {
  background-color: #fffcf2;
}

nav {
  background-color: #252422;
  color: #fffcf2;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.fullbar {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  color: #fffcf2;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #fffcf2;
  text-decoration: none;
}

.custom-color {
  color: #fb5f28;
}

@media (max-width: 768px) {
  .fullbar {
    display: block;
  }

  .menu-toggle {
    display: block;
  }

  .btn {
    display: none;
  }

  .btn button {
    margin: 0px;
  }

  .btn.logout {
    display: block;
    animation: slideIn 0.3s ease-in-out forwards;
  }

  .menu {
    display: none;
  }

  .menu li {
    margin: 0px;
  }

  .menu.show {
    display: block;
    animation: slideIn 0.3s ease-in-out forwards;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .logout-btn {
    display: block;
    margin-bottom: 10px;
  }

  .menu li {
    display: block;
    margin-bottom: 10px;
  }
}
